<html>
    <head>
        <title>Becca's blog</title>
    </head>
    <h1>Where are you going?</h1>
    	<h2>If it is snowing you are going, if it is blowing you are going, if it is tacky you are going, if it is flowing you are going. </h2>
    <body>
        <p>Get the best information to make the most out of your day in the gorge.  Three sports days and happy hour, but who is counting. Get the best snow, pump your kite at the right time, ride your bike on the best dirt, run the greatest white water. See the wildflower. Get the best happy hour and party all night. </p>
        <div></div>
        <h2> Best Happy Hours</h2>
        <ul><li>first item</li><li>second item</li></ul>
    </body>
</html>
